body {
  width: 320px;
  background: #FEFEFE;
}

header {
  text-align:center;
  margin: 0 auto;
  padding: 30px;
  display: block;
}

main {
  padding: 5px;
  margin: 0 auto;
  display: block;
}

button {
  padding: 10px 20px;
}

#output {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-decoration: none;
  margin-bottom: 10px;
}

#output aside {
  padding-top: 20px;
}

#output h3 {
  width: 100%;
  text-align: center;
  justify-content: center;
}

#output img {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}
